body{
    background-color: #0047ab;
}

.sun{
    z-index: -1;
    height: 100px;
    width: 100px;
    background-color: #ffe135;
    margin: 50px; 
    border-radius: 50%;
}

.leaves3{
    position: absolute;
    width: 66%;
    height: 36%;
    bottom: 20%;
    left: 3.5%;
    background: #034f33;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
  .leaves2{
    position: absolute;
    width: 53%;
    height: 33%;
    bottom: 35%;
    left: 10%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #046944;
    z-index: 2;
  }
  .leaves1{
    position: absolute;
    width: 42%;
    height: 25%;
    bottom: 50%;
    left: 15.5%;
    background: #038052;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 3;
  }

  .trunk{
    position: absolute;
    width: 10%;
    height: 16%;
    background: #66503e;
    z-index: -1;
    bottom: 5%;
    left: 32%;
  }

  .tree{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 13%;
    top: 5%;
  }

.grass{
    height: 200px;
    width: 100%;
    background-color: darkgreen;
    margin-top: 150px;
}
